<div class="row">
    <div class="row">
    <div class="large-8 columns">
      <h2>S<small>ty</small>l<small>ego</small></h2>
 
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
 
      <a href="#" data-reveal-id="stylego">More</a>
 		
    </div>
    <div class="large-4 columns">
      <%= image_tag("/images/stylego/sty3.jpg", :height => '400', :width => '300') %>
    </div>
  </div>
  <hr>
</div>

<div class="row">
    <div class="row">
    <div class="large-4 columns">
    	<%= image_tag("/images/taiwon/tai2.jpg", :height => '400', :width => '300') %> 		
    </div>
    <div class="large-8 columns">
     <h2>T<small>ai</small>w<small>on</small></h2>
 
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
 
      <a href="#" data-reveal-id="taiwon">More</a>
    </div>
  </div>
  <hr>
</div>

<div class="row">
    <div class="row">
    <div class="large-8 columns">
      <h2>V<small>ince</small> Y<small>ého</small></h2>
 
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
 
      <a href="#" data-reveal-id="vince">More</a>
 		
    </div>
    <div class="large-4 columns">
      <%= image_tag("/images/vince/vin3.jpg", :height => '400', :width => '300') %>
    </div>
  </div>
  <hr>
</div>

<div id="stylego" class="reveal-modal">
  <h2>Music</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
  <p><a href="#" data-reveal-id="stylego1" class="secondary button">Next -></a></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="stylego1" class="reveal-modal">
  <h2>Pics</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <div class="row">
  	<div class="small-3 columns ">
			<%= image_tag("/images/logo.jpg", :height => '400', :width => '300') %>
		</div>
		<div class="small-3 columns ">
			<%= image_tag("/images/stylego/sty1.jpg", :height => '200', :width => '150') %>
		</div>
		<div class="small-3 columns">
		  <%= image_tag("/images/stylego/sty2.jpg", :height => '200', :width => '150') %>
		</div>
		<div class="small-3 columns ">
			<%= image_tag("/images/stylego/sty3.jpg", :height => '200', :width => '150') %>
		</div>
   </div>
  <p><a href="#" data-reveal-id="stylego2" class="secondary button">Next -></a></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="stylego2" class="reveal-modal">
  <h2>Contact</h2>
  <div class="row">
  	<div class="small-3 columns ">
			<%= image_tag("/icons/facebook.png", :height => '80', :width => '60') %>
		</div>
		<div class="small-3 columns ">
			<%= image_tag("/icons/soundcloud.png", :height => '80', :width => '60') %>
		</div>
		<div class="small-3 columns">
		  <%= image_tag("/icons/myspace.png", :height => '80', :width => '60') %>
		</div>
		<div class="small-3 columns ">
			<%= image_tag("/icons/bandcamp.png", :height => '80', :width => '60') %>
		</div>
   </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="taiwon" class="reveal-modal">
  <h2>Music</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
  <p><a href="#" data-reveal-id="taiwon1" class="secondary button">Next -></a></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="taiwon1" class="reveal-modal">
  <h2>Pics</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <div class="row">
  	<div class="small-3 columns ">
			<%= image_tag("/images/logo.jpg", :height => '400', :width => '300') %>
		</div>
		<div class="small-3 columns ">
			<%= image_tag("/images/taiwon/tai1.jpg", :height => '200', :width => '150') %>
		</div>
		<div class="small-3 columns">
		  <%= image_tag("/images/taiwon/tai2.jpg", :height => '200', :width => '150') %>
		</div>
		<div class="small-3 columns ">
			<%= image_tag("/images/taiwon/tai3.jpg", :height => '200', :width => '150') %>
		</div>
   </div>
  <p><a href="#" data-reveal-id="taiwon2" class="secondary button">Next -></a></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="taiwon2" class="reveal-modal">
  <h2>Contact</h2>
  <div class="row">
  	<div class="small-3 columns ">
			<%= image_tag("/icons/facebook.png", :height => '80', :width => '60') %>
		</div>
		<div class="small-3 columns ">
			<%= image_tag("/icons/soundcloud.png", :height => '80', :width => '60') %>
		</div>
		<div class="small-3 columns">
		  <%= image_tag("/icons/myspace.png", :height => '80', :width => '60') %>
		</div>
		<div class="small-3 columns ">
			<%= image_tag("/icons/bandcamp.png", :height => '80', :width => '60') %>
		</div>
   </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="vince" class="reveal-modal">
  <h2>Music</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
  <p><a href="#" data-reveal-id="vince1" class="secondary button">Next -></a></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="vince1" class="reveal-modal">
  <h2>Pics</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <div class="row">
  	<div class="small-3 columns ">
			<%= image_tag("/images/logo.jpg", :height => '400', :width => '300') %>
		</div>
		<div class="small-3 columns ">
			<%= image_tag("/images/vince/vin1.jpg", :height => '200', :width => '150') %>
		</div>
		<div class="small-3 columns">
		  <%= image_tag("/images/vince/vin3.jpg", :height => '200', :width => '150') %>
		</div>
		<div class="small-3 columns ">
			<%= image_tag("/images/vince/vin2.jpg", :height => '200', :width => '150') %>
		</div>
   </div>
  <p><a href="#" data-reveal-id="vince2" class="secondary button">Next -></a></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="vince2" class="reveal-modal">
  <h2>Contact</h2>
  <div class="row">
  	<div class="small-3 columns ">
			<%= image_tag("/icons/facebook.png", :height => '80', :width => '60') %>
		</div>
		<div class="small-3 columns ">
			<%= image_tag("/icons/soundcloud.png", :height => '80', :width => '60') %>
		</div>
		<div class="small-3 columns">
		  <%= image_tag("/icons/myspace.png", :height => '80', :width => '60') %>
		</div>
		<div class="small-3 columns ">
			<%= image_tag("/icons/bandcamp.png", :height => '80', :width => '60') %>
		</div>
   </div>
  <a class="close-reveal-modal">&#215;</a>
</div>